<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VSMThemeBuilder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/renderer.css" />
</head>
<body>    
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">VSMThemeBuilder</a>
        <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-primary" id="btnShare">Share</button>
                        <button class="btn btn-sm btn-outline-primary" id="btnDownload">Download</button>
                        <a id="download" style="display:none"></a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <div class="container-fluid"></div>
    <div class="row-fluid">
        <nav class="col-4 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                @RenderSection("ThemeableScopes", false);
            </div>
        </nav>

        <main role="main" class="col-8 ml-sm-auto no-padding">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                @RenderBody()
            </div>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
