@page
@model IndexModel
@{
    ViewData["Title"] = "Theme Builder";
}

    <div class="container-fluid no-padding">
        @Html.Raw(Model.CSharpSampleHtml)
    </div>

@section ThemeableScopes
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" class="center">FG</th>
                <th scope="col" class="center">BG</th>
                <th scope="col" class="center"><b>B</b></th>
                <th scope="col" class="center"><i>I</i></th>
                <th scope="col" class="center"><u>U</u></th>
            </tr>
        </thead>
        <tbody>

            @foreach (string scope in @Model.Scopes)
            {
                <tr>
                    <th scope="row">@scope</th>
                    <td><input type="color" class="colorPickerFG center" /></td>
                    <td><input type="color" class="colorPickerBG center"/></td>
                    <td><input type="checkbox" class="center" /></td>
                    <td><input type="checkbox" class="center" /></td>
                    <td><input type="checkbox" class="center"/></td>
                </tr>
            }

        </tbody>
    </table>       
}
